<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>buy</display-name>
   <welcome-file-list>
    <welcome-file>login1.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Selectuser1</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selectuser1</servlet-name>
    <url-pattern>/Selectuser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Selectquestion2</servlet-name>
    <servlet-class>servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selectquestion2</servlet-name>
    <url-pattern>/Selectquestion2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Selectquestion3</servlet-name>
    <servlet-class>servlet.BanswerOrNoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubminQuestion</servlet-name>
    <servlet-class>servlet.SubmitQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectOneQuestion</servlet-name>
    <servlet-class>servlet.SelectOneQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdQuestion</servlet-name>
    <servlet-class>servlet.UpdQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CosServlet</servlet-name>
    <servlet-class>servlet.CosServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FuzzyQueryQuestion</servlet-name>
    <servlet-class>servlet.FuzzyQueryQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateUser</servlet-name>
    <servlet-class>servlet.ValidateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KeynoteQuestionServlet</servlet-name>
    <servlet-class>servlet.KeynoteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Selectquestion3</servlet-name>
    <url-pattern>/Selectquestion3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KeynoteQuestionServlet</servlet-name>
    <url-pattern>/KeynoteQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubminQuestion</servlet-name>
    <url-pattern>/SubminQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectOneQuestion</servlet-name>
    <url-pattern>/SelectOneQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdQuestion</servlet-name>
    <url-pattern>/UpdQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CosServlet</servlet-name>
    <url-pattern>/CosServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ValidateUser</servlet-name>
    <url-pattern>/ValidateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FuzzyQueryQuestion</servlet-name>
    <url-pattern>/FuzzyQueryQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
 <filter>  
  <filter-name>LoginFilter</filter-name>  
  <filter-class>filter.LoginFilter</filter-class>  
  </filter>  
  <filter-mapping>  
  <filter-name>LoginFilter</filter-name>   
  <url-pattern>/page/*</url-pattern>
  </filter-mapping>
</web-app>